@model IEnumerable<Entities.Student>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudyYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GenderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthdateLocationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NationalityId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StayId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SchoolTypeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SchoolName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Score)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScoreFull)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CertificationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudyYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GenderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthdateLocationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NationalityId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StayId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SchoolTypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SchoolName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScoreFull)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CertificationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
